.footer {
    border-top: 1px solid #212121 ;
    opacity: 40%;
    max-width: 413x;
    display: flex;
    justify-content: center;
}


.footer__copyright {
    margin: 0 auto;
    padding-top: 60px;

    
    }

    @media screen and (max-width: 627px) {
        .footer {
            border-top: 1px solid #212121;
            opacity: 40%;
            max-width: 288px;
        }
    }

    